.conteudo-inicial__botoes-login {
    height: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudo-inicial__botoes-login a {
    width: 362px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FC7071;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-decoration: none;

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .conteudo-inicial__botoes-login a {
        width: 344px;
    }
}

@media screen and (max-width: 412px) {
    .conteudo-inicial__botoes-login {
        height: 136px;
    }
    .conteudo-inicial__botoes-login a {
        width: 180px;
        height: 40px;
        font-size: 16px;
    }
}