main {
    width: 100%;
    height: 100%;
    overflow: auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/tablet-forma2.png) top 50% right no-repeat;
}

.conteudo-inicial__patas {
    height: 407px;
    position: absolute;
    top: 0;
    right: 0;
}

@media screen and (max-width: 768px) {
    .conteudo-inicial__patas img {
        height: 300px;
    }
}

@media screen and (max-width: 412px) {
    main {
        background: url(../img/forma2-inverte.png) top 90% left no-repeat;
    }

    .conteudo-inicial__patas img {
        height: 215px;
    }
}