
@media screen and (max-width: 380px){
    body {
        background: #3772FF;
        mix-blend-mode: normal;
    }

    header {
        background: url(./img/vector1.png) no-repeat;
        position: relative;
        display: flex;
        width: 360px;
        height: 280px;
        justify-content: center;
    }

    .icones-inicial{
        position: absolute;
        margin-top: 15%;
        width: 100%;
        padding-left: 10px;
    }

    .icones-inicial img {
        margin-left: 11%;
    }

/* ___________________________________ Conteudo principal ___________________________________*/

    /* logo */
    .logo-inicial {
        position: absolute;
        height: 46px;
        width: 100%;
        top: 170px;
    }

    .logo-inicial img {
        position:absolute;
        height: 100%;
        display: flex;
        left: 67px;
    }
    /* logo */

    /* titulo 2 */
    .sub-titulo-inicial {
        position: absolute;
        width: 100%;
        height: 48px;
        top: 230px;
        display: flex;
    }

    .sub-titulo-inicial h2{
        font-family: 'IBM Plex Sans';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 48px;
        color: #FFFFFF;
    }
    /* titulo 2 */

    /* ___________________________________ Footer  ___________________________________*/

    footer {
        background: #36D6AD;
        width: 100%;
        height: 100px;
        position: absolute;
        top: 76%;
    }

    footer div {
        position: absolute;
        width: 260px;
        height: 48px;
        top: 26px;
        left: 30px;
    }

    footer p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}