@media screen and (width: 768px) {
    /*------------------ main container ------------------ */
    body {
        width: 768px;
        height: 1200px;
        
        background: url(../assets/img/tablet-forma1.png) top 0 left 0 no-repeat, url(../assets/img/table-forma2.png) right 50% no-repeat, #3772FF;
    }
    /*------------------ main container ------------------ */
    /*------------------ header container ------------------ */
    header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-end;
    }

    .botao-logo {
        margin-left: 50px;
        padding: 0;
        width: 128px;
        border: none;
        background: none;
    }

    .botao-logo img {
        width: 128px;
    }
    

    .botao-home {
        margin-left: 65px;
        padding: 0;
        width: 20px;
        border: none;
        background: none;
    }
    
    .botao-home img {
        width: 20px;
    }
    
    .botao-mensagem {
        margin-left: 65px;
        padding: 0;
        width: 25px;
        border: none;
        background: none;
    }
    
    .botao-mensagem img {
        width: 25px;
    }
    
/*     .botao-perfil {
        margin-left: 320px;
        padding: 0;
        width: 48px;
        border: none;
        background: none;
    } 
    
    .botao-perfil img {
        width: 48px;
    } */
    /*------------------ header container ------------------ */
    /*------------------ main container ------------------ */
    main {
        width: 100%;
        height: 1000px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-tablet-boas-vindas {
        width: 100%;
        height: 438px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .botao-logo-main {
        margin-top: 184px;
        padding: 0;
        width: 252px;
        border: none;
        background: none;
    }

    .botao-logo-main img {
        width: 252px;
    }

    h2 {
        display: flex;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 48px;
        color: #FFFFFF;
        margin-top: 40px;
    }

    h4 {
        margin-top: 24px;
        width:  344px;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: #FFFFFF;
        text-align: center;
    }

    .container-tablet-nav-main {
        width: 100%;
        height: 128px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
    }

    .container-tablet-nav-main button {
        width: 344px;
        height: 48px;
        background: #FC7071;
        border-radius: 6px;
        padding: 0px;
        border: none;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
        text-align: center;
    }

    .container-tablet-img-main {
        background: url(../assets/img/tablet-ilustração.png) no-repeat;
        background-size: 349px;
        width: 360px;
        height: 394px;
    }
    /*------------------ main container ------------------ */
    /*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    /*------------------ footer container ------------------ */
}

@media screen and (max-width: 412px) {
/*------------------ main container ------------------ */
    body {
        width: 412px;
        height: 915px;

        background: url(./img/forma2.png) no-repeat, #3772FF;
        background-position: right 50% , 0;

        display: flex;
        flex-direction: column;
    }
/*------------------ main container ------------------ */
/*------------------ header container ------------------ */
    header {
        width: 412px;
        height: 280px;
        background: url("./img/vector1.png") 0 0 no-repeat;
    }

    .container-nav-header {
        width: 140px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 48px 30px 0;
    }

    .logo-container {
        width: 100%;
        height: 46px;
        display: flex;
        justify-content: center;
        margin: 100px 0 18px;
    }

    .titulo-container {
        width: 100%;
        height: 48px;
    }

    h3 {
        font-family: 'IBM Plex Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 48px;
        color: #FFFFFF;
        display: flex;
        justify-content: center;
    }
/*------------------ header container ------------------ */
/*------------------ content container ------------------ */
    main {
/*         background: url(./img/forma2.png) 10px right no-repeat; */
        width: 100%;
        height: 535px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .main-p-invite {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-p-invite p {
        width: 248px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .container-nav-main {
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .container-nav-main button {
        width: 180px;
        height: 40px;
        background: #FC7071;
        border: 1px solid #FC7071;
        border-radius: 6px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .container-img-main {
        background: url(./img/ilustracao1.png) bottom 10 0% left 15% no-repeat;
        width: 100%;
        background-size: 300px;
        height: 335px;
    }
/*------------------ content container ------------------ */
/*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }


/*------------------ footer container ------------------ */
}