/*------------------ tablet container ------------------ */
@media screen and (width: 768px) {
    /*------------------ main container ------------------ */
    body {
        width: 768px;
        height: 1200px;
        
        background: url(../assets/img/tablet-forma1.png) top 0 left 0 no-repeat, url(../assets/img/table-forma2.png) right 50% no-repeat, url(../assets/img/tablet-patas.png) right 0 no-repeat, #FFFFFF;
    }
    /*------------------ main container ------------------ */
    /*------------------ header container ------------------ */
    header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-end;
    }

    .botao-logo {
        margin-left: 50px;
        padding: 0;
        width: 128px;
        border: none;
        background: none;
    }

    .botao-logo img {
        width: 128px;
    }
    

    .botao-home {
        margin-left: 65px;
        padding: 0;
        width: 20px;
        border: none;
        background: none;
    }
    
    .botao-home img {
        width: 20px;
    }
    
    .botao-mensagem {
        margin-left: 65px;
        padding: 0;
        width: 25px;
        border: none;
        background: none;
    }
    
    .botao-mensagem img {
        width: 25px;
    }
    
/*     .botao-perfil {
        margin-left: 320px;
        padding: 0;
        width: 48px;
        border: none;
        background: none;
    } 
    
    .botao-perfil img {
        width: 48px;
    } */
    /*------------------ header container ------------------ */
    /*------------------ main container ------------------ */
    main {
        width: 100%;
        height: 1000px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-texto-tablet{
        width: 100%;
        height: 352px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-texto-tablet img {
        margin-top: 162px;
        height: 62px;
    }

    .container-texto-tablet p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 26px;
        font-size: 18px;
        text-align: center;
        color: #3772FF;
        width: 525px;
    }

    .p__margen-top {
        margin-top: 40px;
    }

    .container-form-cadastro-tablet {
        width: 100%;
        height: 648px;
    }

    .container-form-cadastro-tablet form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-form-cadastro-tablet label {
        margin: 24px 0 10px;

        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        color: #737380;
    }

    .container-form-cadastro-tablet input {
        margin-top: 4px;

        width: 344px;
        height: 40px;

        background: #F7F7F7;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 6px;

        border: none;
    }

    .container-form-cadastro-tablet input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 16px;
        font-size: 14px;
        text-align: center;
        color: #BCBCBC;
    }

    .container-form-cadastro-tablet button {
        margin-top: 40px;
        width: 164px;
        height: 40px;
        background: #FC7071;
        border-radius: 6px;
        border: none;

        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        color: #FFFFFF;
    }


    /*------------------ main container ------------------ */
    /*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    footer a {
        color: #FFFFFF;
        text-decoration: none;
    }
    /*------------------ footer container ------------------ */
}
/*------------------ phone container ------------------ */
@media screen and (max-width: 412px) {
    /*------------------ main container ------------------ */
    body {
        width: 412px;
        height: 915px;

        background: url(./img/forma2-inverte.png) no-repeat, #FFFFFF;
        background-position: left 72% , 0;

        display: flex;
        flex-direction: column;
    }
    /*------------------ main container ------------------ */
    /*------------------ header container ------------------ */
    header {
        width: 412px;
        height: 280px;
        background: url("./img/vector1.png") 0 0 no-repeat;
    }

    .container-patinhas {
        background: url('./img/patas.png') right 0 no-repeat;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 180px;
    }

    .container-nav-header {
        width: 140px;
        height: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 48px 30px 0;
    }

    .logo-container {
        width: 100%;
        height: 112px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .texto-cadastro-container {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .texto-cadastro-container p {
        width: 80%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #3772FF;
    }
/*------------------ header container ------------------ */
/*------------------ content container ------------------ */
    main {
        /* background: #dba6eb; */
        width: 100%;
        height: 535px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    form {
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
    }

    .row {
        width: 90%;
        height: 90px;
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }

    .placa label {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: #737380;
    }

    .entrada {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .entrada input {
        height: 40px;
        background: #F7F7F7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        border: none;
    }

    .row input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        color: #BCBCBC;
    }

    .botao {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
    }

    .botao  button{
        width: 150px;
        height: 50px;
        background: #FC7071;
        color: #FFFFFF;
        border-radius: 6px;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
    }
    /*------------------ content container ------------------ */
    /*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    /*------------------ footer container ------------------ */    
}