/*------------------ tablet container ------------------ */
@media screen and (max-width: 768px) {
    /*------------------ main container ------------------ */
    body {
        width: 768px;
        height: 1200px;
        
        background: url(../assets/img/tablet-forma1.png) top 0 left 0 no-repeat, #FFFFFF;
    }
    /*------------------ main container ------------------ */
    /*------------------ header container ------------------ */
    header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: flex-end;
    }

    .botao-logo {
        margin-left: 50px;
        padding: 0;
        width: 128px;
        border: none;
        background: none;
    }

    .botao-logo img {
        width: 128px;
    }
    

    .botao-home {
        margin-left: 65px;
        padding: 0;
        width: 20px;
        border: none;
        background: none;
    }
    
    .botao-home img {
        width: 20px;
    }
    
    .botao-mensagem {
        margin-left: 65px;
        padding: 0;
        width: 25px;
        border: none;
        background: none;
    }
    
    .botao-mensagem img {
        width: 25px;
    }
    
    .botao-perfil {
        margin-left: 320px;
        padding: 0;
        width: 48px;
        border: none;
        background: none;
    } 
    
    .botao-perfil img {
        width: 48px;
    }
    /*------------------ header container ------------------ */
    /*------------------ main container ------------------ */
    main {
        width: 100%;
        min-height: 1000px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-texto-tablet{
        width: 100%;
        height: 248px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
    }

    .container-texto-tablet p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 26px;
        font-size: 18px;
        text-align: center;
        color: #3772FF;
        width: 373px;
    }

    .container-cards-tablet {
        width: 752px;
        min-height: 752px;
        display: flex;
        flex-wrap: wrap;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .container-card-pet-tablet {
        width: 344px;
        height: 196px;
        background: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 16px 16px 0;
    }

    .container-img-pet-tablet {
        width: 150px;
        height: 160px;
        display: flex;
        justify-content: center;
    }

    .container-img-pet-tablet img {
        width: 148px;
        margin-left: 10px;
    }

    .container-card-pet-tablet aside {
        width: 160px;
        height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .container-card-pet-tablet aside h4 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        font-size: 18px;
        color: #3772FF;
    }

    .margin-top-aside-pet {
        margin-top: 8px;
    }

    .container-card-pet-tablet aside p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        font-size: 14px;
        color: #737380;
    }

    .container-card-pet-tablet aside span {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        font-size: 12px;
        color: #737380;
        margin-top: 30px;
    }

    .container-info-contato-pet-tablet {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
        margin-top: 5px;
    }

    .container-info-contato-pet-tablet button {
        width: 18px;
        padding: 0;
        border: none;
        background: none;
    }
    
    .container-info-contato-pet-tablet button img {
        width: 18px;
    }

    .contato-pet-tablet {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        font-size: 10px;
        color: #737380;
        margin: 0 10px;
    }

     /*------------------ main container ------------------ */
    /*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    footer a {
        color: #FFFFFF;
        text-decoration: none;
    }
    /*------------------ footer container ------------------ */
}
/*------------------ phone container ------------------ */
@media screen and (max-width: 412px){
    /*------------------ main container ------------------ */
    body {
        width: 412px;
        min-height: 915px;

        background: #FFFFFF;

        display: flex;
        flex-direction: column;
    }
    /*------------------ main container ------------------ */ 
    /*------------------ header container ------------------ */
    header {
        width: 100%;
        height: 280px;
        background: url('./img/vector1.png') 0 0 no-repeat;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container-nav-header {
        width: 100%;
        height: 68px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .botao-home {
        margin-left: 60px;
        padding: 0;
        width: 20px;
        border: none;
        background: none;
    }

    .botao-home img {
        width: 20px;
    }

    .botao-mensagem {
        margin-left: 60px;
        padding: 0;
        width: 25px;
        border: none;
        background: none;
    }

    .botao-mensagem img {
        width: 25px;
    }

    .botao-perfil {
        margin-left: 130px;
        padding: 0;
        width: 40px;
        border: none;
        background: none;
        justify-content: right;
    }

    .botao-perfil img {
        width: 40px;
    }

    .container-titulo-home {
        width: 100%;
        height: 170px;
        display: flex;
        align-items: center;
    }

    .container-titulo-home p {
        width: 75%;
        margin: 60px auto 0;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        font-size: 23px;
        text-align: center;
        color: #3772FF;
    }

    /*------------------ header container ------------------ */
    /*------------------ content container ------------------ */
    main {
    /*     background: #dba6eb; */
        width: 100%;
        min-height: 535px;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    .container-pet {
        width: 100%;
        height: 196px;
        background: #F7F7F7;
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
    }

    .container-img-pet {
        width: 170px;
        height: 160px;
    }

    .container-img-pet img {
        width: 160px;
        margin-left: 10px;
    }

    .container-info-pet {
        width: 200px;
        height: 164px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    .container-info-titulo-pet{
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
    }

    .container-info-titulo-pet h4 {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
        font-size: 18px;
        color: #3772FF;
    }

    .container-info-desc-pet {
        width: 100%;
        height: 64px;
        margin-top: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .container-info-desc-pet p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        font-size: 16px;
        color: #737380;
    }

    .container-info-cid-pet {
        width: 100%;
        height: 55px;
        display: flex;
        align-items: flex-end;
    }

    .container-info-cid-pet p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        font-size: 14px;
        color: #737380;
        margin-bottom: 10px;
    }

    .container-info-contato-pet {
        width: 100%;
        height: 20px;
        display: flex;
        align-items: center;
    }

    .container-info-contato-pet button {
        width: 18px;
        padding: 0;
        border: none;
        background: none;
    }

    .container-info-contato-pet button img {
        width: 18px;
    }

    .container-info-contato-pet p {
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: 16px;
        font-size: 12px;
        color: #737380;
        margin: 0 10px;
    }
    /*------------------ content container ------------------ */
    /*------------------ footer container ------------------ */
    footer {
        width: 100%;
        height: 100px;
        background: #36D6AD;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer  p {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }
    /*------------------ footer container ------------------ */
}